<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package id="FastMember" version="1.5.0" targetFramework=".NETFramework4.6.1" allowedVersions="[1.5.0]" />
  <package id="System.Data.Common" version="4.3.0" targetFramework=".NETFramework4.5.1" allowedVersions="4.3.0" />
  <package id="System.Reflection" version="4.3.0" targetFramework=".NETFramework4.5" allowedVersions="4.3.0" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework=".NETFramework4.5" allowedVersions="4.3.0" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework=".NETFramework4.5" allowedVersions="4.7.0" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework=".NETFramework4.5" allowedVersions="4.3.0" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework=".NETFramework4.6.1" allowedVersions="4.5.0" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework=".NETFramework4.6.1" allowedVersions="[4.7.0, )" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework=".NETFramework4.6.1" allowedVersions="[4.7.0, )" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework=".NETFramework4.5" allowedVersions="4.5.0" />
</packages>